*,
*:before,
*:after {
    box-sizing: border-box;
    position: relative;
}

body,
html {
    overflow: hidden;
    font: 15px sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
